@font-face {
  font-family: "Reso";
  src: url("../font/Reso-Bold.woff");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
#landing {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background: #101C25; */
  background: #061b25;
}
#landing .title {
  text-transform: uppercase;
  font-size: 4em;
  font-family: "Reso";
  background: -webkit-linear-gradient(90deg, #326199, #4fb1a1, #fec055, #eb8d50, #df6e5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#landing .description {
  width: 80%;
  padding: 5vh 5vw;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  background: -webkit-linear-gradient(90deg, #326199, #4fb1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: #fcc055;
}
#landing .hacks-wrapper {
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing .hacks-wrapper .hack {
  margin: 0 7.5vw;
  padding: 10px 15px;
  font-size: 2rem;
  background: -webkit-linear-gradient(90deg, #ffe871, #ffbda8, #ffaa8f);
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
#landing .hack a {
  text-decoration: none;
  color: #df6e5b;
}
#landing .scroll {
  position: absolute;
  bottom: 0;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(90deg, #326199, #4fb1a1);
}
lord-icon {
  transform: rotate(90deg);
}
#we-are-sponsor {
  min-height: 60vh;
  padding: 5vh 5vw;
  /* background: #101C25; */
  background: #061b25;
}
#we-are-sponsor .title {
  font-size: 3rem;
  padding: 1em 0;
  font-family: "Reso";
  background: -webkit-linear-gradient(90deg, #326199, #4fb1a1, #fec055, #eb8d50, #df6e5b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#we-are-sponsor .description {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #fcc055;
}
#we-are-sponsor .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#we-are-sponsor .grid .brand {
  width: 20vw;
}
@media only screen and (max-width: 768px) {
  #landing .title {
    font-size: 32px;
  }
  #landing .description {
    font-size: 16px;
    padding: 5vh 0;
  }
  #landing .hacks-wrapper {
    padding-top: 2em;
  }
  #landing .hacks-wrapper .hack {
    margin: 0 1.5vw;
    padding: 10px 15px;
    font-size: 16px;
  }
  #we-are-sponsor .title {
    font-size: 32px;
  }
  #we-are-sponsor .description {
    font-size: 16px;
  }
  #we-are-sponsor .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #we-are-sponsor .grid .brand {
    width: 30vw;
  }
}
