@font-face {
    font-family: SVN-AgudaBlack;
    src: url("...font/SVN-Aguda-Black.otf");
}
@font-face {
  font-family: "Reso";
  src: url("../font/Reso-Bold.woff");
}
@font-face {
  font-family: "sohne-var";
  src: url("../font/f965fdf4.woff2");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;900&display=swap" rel="stylesheet');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "sohne-var", "Montserrat", sans-serif;
}

.title {
  font-size: 45px;
}
#landing {
  width: 100%;
  min-height: 120vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  /* background: #101C25; */
}
#landing .title {
  font-size: 40px;
  font-family: "sohne-var", "Montserrat", sans-serif;
  font-weight: 900;
  margin-top: 0.5rem;
}
#landing h1
{
  color: #000;
}
#landing h2
{
  color: #80060e;
}
#landing .description {
  width: 80%;
  padding: 2vh 9vw;
  font-family: "sohne-var", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 25px;
  background: -webkit-linear-gradient(90deg, #326199, #4fb1a1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: #fcc055;
}
#landing .hacks-wrapper {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landing .hacks-wrapper .hack {
  margin: 0 7.5vw;
  font-size: 30px;
  font-weight: 500;
  font-family: "Reso";
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
#landing .hack img {
  height: 85px;
}

#landing .hack a {
  text-decoration: none;
  padding: 10px 15px;
  background: -webkit-linear-gradient(90deg, #ffe871, #ffbda8, #ffaa8f);
  color: #fafafa;
}
#landing .scroll {
  position: absolute;
  bottom: 2px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1.5rem;
  background: -webkit-linear-gradient(90deg, #326199, #4fb1a1);
}
lord-icon {
  transform: rotate(90deg);
}
#we-are-sponsor {
  min-height: 60vh;
  padding: 5vh 5vw;
  /* background: #101C25; */
  background: #061b25;
}
#we-are-sponsor .title {
  font-size: 45px;
  font-weight: 500;
  margin: 1em 0;
  font-family: "sohne-var", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: -webkit-linear-gradient(90deg, #ffe871, #ffbda8, #ffaa8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#we-are-sponsor .pb-1 {
  padding-bottom: 2em;
}
#we-are-sponsor .description {
  font-size: 25px;
  font-weight: 300;
  font-family: "sohne-var", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fcc055;
}
#we-are-sponsor .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#we-are-sponsor .grid .brand {
  width: 20vw;
}
@media only screen and (max-width: 768px) {
  #landing .title {
    font-size: 32px;
  }
  #landing .description {
    font-size: 16px;
    padding: 5vh 0;
  }
  #landing .hacks-wrapper {
    padding-top: 2em;
  }
  #landing .hacks-wrapper .hack {
    margin: 0 1.5vw;
    padding: 10px 15px;
    font-size: 16px;
  }
  #we-are-sponsor .title {
    font-size: 34px;
  }
  #we-are-sponsor .description {
    font-size: 16px;
  }
  #we-are-sponsor .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  #we-are-sponsor .grid .brand {
    width: 30vw;
  }
}

#our-team, #our-sponsors {
  min-height: 50vh;
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#our-team .title, #our-sponsors .title {
  text-align: left;
  align-self: flex-start;
  margin: 1% 0;
  font-size: 45px;
  font-family: "sohne-var", "Montserrat", sans-serif;
  font-weight: 900;
  color: #80060e;
}
#our-team .illustration{
  display: flex;
  margin: 1vh 0;

}
#our-team .illustration .img-content-wrapper, #our-sponsors .illustration .img-content-wrapper1{
  padding: 0 4vw;
  display: flex;
}
#our-team .illustration .img-content-wrapper img, .hack img .hack img {
  width: 100px;
}
#our-team .illustration .img-content-wrapper .content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2vw;
  font-family: "sohne-var", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0;

}
#our-team .illustration .img-content-wrapper .content-wrapper h3 {
  font-size: 45px;
  font-family: "sohne-var", "Montserrat", sans-serif;
  font-weight: 900;
  color: #dc0008;
}
#our-team .illustration .img-content-wrapper .content-wrapper p {
  font-weight: 300;
}

.countdown {
  color: #333;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown h1 {
  font-weight: normal;
  margin-top: 10px 0;
}
.countdown h6 {
  font-size: 35px;
  margin: 10px 0;
  font-weight: normal;
}
.countdown p {
  width: 70%;
}

.countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 4rem;
}

.countdown .emoji {
  display: none;
  padding: 1rem;
}

.countdown .emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

#landing .countdown h1
{
  margin-top: 6rem;
}


#our-sponsors .illustration .img-content-wrapper1, #our-sponsors .illustration .img-content-wrapper2
{
  font-size: 20px;
  font-family: "sohne-var", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: black;
  display: grid;
  align-items: center;
}

 #our-sponsors .illustration .img-content-wrapper1 img
 {
      height: 300px;
 }

 #our-sponsors .illustration .img-content-wrapper2 img
 {
      width:  100px;
 }

 #our-sponsors .illustration .img-content-wrapper1 
{
  padding: 0 0vw;
}
 #our-sponsors .illustration .img-content-wrapper2 
{
  padding: 0 2vw;
}
#our-sponsors .illustration {
  display: flex;
  margin-bottom: 0;

