@font-face {
  font-family: "GLD Display";
  src: url("../font/Untitled.woff2");
}
@font-face {
  font-family: "Thunder";
  src: url("../font/Thunder.woff");
}

.prizes .content {
  display: flex;
}
#my-scrollbar {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden !important;
}
.prizes .grid {
  padding: 1.25em 5em;
  padding-right: 0;
  width: 60vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  row-gap: 2em;
}
.prizes .grid-title {
  font-family: "sohne-var", sans-serif;
  font-size: 40px;
}
/* .prizes .grid-title:nth-child(1),
.prizes .grid-title:nth-child(3) {
  color: white;
} */

.prizes .grid-description {
  font-size: 1.1rem;
  padding: 0 1.2em;
  /* color: #fff; */
}
.prizes .grid-description ul li {
  padding-inline-start: 1ch;
}
.prizes .grid-description ul li::marker {
  content: "□";
  /* color: #fff; */
}
.crown-draw {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-75deg);
  transform-origin: center left;
}
.prizes .grid .first-prize {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .prizes {
    padding: 5vh 0;
  }
  .prizes .grid {
    padding: 1.25em 0;
    width: 100vw;
  }
  .prizes .grid-title,
  .prizes .grid .first-prize {
    font-size: 32px;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
  }
  .prizes .grid-description {
    font-size: 16px;
    padding: 0;
  }
  .prizes img {
    display: none;
  }
  .crown-draw {
    display: none;
  }
}

.prizes {
  background: #fff;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "sohne-var",sans-serif;
}
.prizes .prizes-wrapper {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}
.prizes img {
  width: 30%;
}
.prizes .thcs, .prizes .thpt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prizes .thcs h3, .prizes .thpt h3 {
  font-weight: 400;
  font-size: 30px;
}
.prizes .column {
  display: flex;
  flex-direction: column;
}
.prizes .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.prizes .row h4 {
  font-size: 30px;
  font-weight: 400;
}
.info h2
{
  margin-top: 5rem;
}